.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 55px;
	/*background-color: #0f79ac;*/
    border-bottom: 1px solid #666;
	background-color: #333;
	overflow:hidden;
	z-index: 9999;
}

.fixed-nav-bar ul {
    list-style-type: none;
	height: 55px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #0f79ac;*/
    background-color: #333;
}

.fixed-nav-bar li {
	color: #fff;
	font-size: 24px;
	font-family:Arial;
    float: left;
	height: 55px;
    border-right:1px solid #666;
}

.fixed-nav-bar li:last-child {
    /*border-right: none;*/
}

.fixed-nav-bar li a {
	font-size: 24px;
	font-family:Arial;
    display: block;
	height: 55px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fixed-nav-bar li a:hover:not(.active) {
	font-size: 24px;
	font-family:Arial;
	height: 55px;
    /*background-color: #111;*/
    /*background-color: #0f79ac;*/
    background-color: #666666;
}

.active {
	font-size: 24px;
	font-family:Arial;
	height: 55px;
	background-color: #4CAF50;
    /*background-color: #0f79ac;*/
}
